:root {
    --primary-color: white;
    --secondary-color: #00809D;
    --header-color: #1E2026;
    --text-color: #21BACA;

    --h1phonesize: 5vw;
    --h2phonesize: 3.5vw;
    --h3phonesize: 3.5vw;
    --h4phonesize: 3.5vw;
    --pphonesize: 2.5vw;
    --buttonphonesize: 2vw;

    --h1size: 50px;
    --h2size: 35px;
    --h3size: 35px;
    --h4size: 35px;
    --ppsize: 25px;
    --buttonsize: 20px;
}